.btn {
  display: flex !important;
  padding: 8px 16px !important;
  align-items: center !important;

  border: none !important;
  border-radius: 4px !important;
  font-weight: normal !important;
  transition: all 0.3s ease !important;

  svg {
    fill: currentColor !important;
  }

  &:hover {
    opacity: 0.8;
  }
}

%btn {
  &--icon {
    display: flex !important;
    padding: 8px !important;
    align-items: center !important;
    justify-content: center !important;
    width: 40px;
    height: 40px;

    fill: currentColor !important;
    border-radius: 100%;
    transition: all 0.3s ease !important;
    cursor: pointer !important;

    &:hover {
      background-color: $color-grey-lighten3 !important;
    }

    &--dark {
      color: $color-white !important;

      &:hover {
        background-color: $color-grey-darken3 !important;
      }
    }
  }

  &--text {
    position: relative;

    color: $color-secondary !important;
    text-decoration: none;
    backface-visibility: hidden;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;

      background-color: $color-secondary;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease;
    }

    &:hover,
    &:active,
    &:focus {
      &::after {
        transform: scaleX(1);
      }
    }
  }
}
