.btn {
  display: flex !important;
  padding: 8px 16px !important;
  align-items: center !important;

  color: $color-grey-darken1 !important;
  background-color: $color-grey-lighten3 !important;
  border: none !important;
  border-radius: 4px !important;
  font-weight: normal !important;

  svg {
    fill: currentColor !important;
  }
}

%btn--icon {
  display: flex !important;
  padding: 8px !important;
  align-items: center !important;
  justify-content: center !important;
  width: 40px;
  height: 40px;

  border-radius: 100%;
  transition: all 0.3s ease !important;
  cursor: pointer !important;

  &:hover {
    background-color: $color-grey-lighten3 !important;
  }

  svg {
    fill: currentColor !important;
  }
}
