.models {
  @extend %card;

  h4 {
    padding: 12px !important;
    padding-inline-start: 28px !important;

    cursor: initial !important;

    &:hover {
      background-color: transparent !important;
    }
  }

  &-control {
    margin: 0 !important;

    background-color: transparent !important;
    outline: none !important;
    cursor: initial !important;

    > svg {
      margin: -4px 0 !important;

      @extend %btn--icon;
    }
  }
}

.model {
  display: block !important;
  color: $color-grey-lighten3 !important;

  &-container {
    margin-bottom: 32px !important;

    @extend %code-block;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  &-title {
    color: $color-code !important;
  }

  &-box {
    $indent: 24px;

    &-control {
      display: flex !important;
      align-items: center !important;

      outline: none !important;

      ~ span > span.model,
      ~ .markdown,
      ~ .property {
        margin-left: $indent;
      }
    }

    .pointer &,
    & > & {
      padding: 0 !important;
    }

    table.model {
      tr {
        > td {
          padding: 4px 8px 4px 8px !important;

          &:first-child {
            padding-left: $indent !important;
          }
        }

        &:first-child {
          > td {
            padding-top: 0 !important;
          }
        }

        &:last-child {
          > td {
            padding-bottom: 0 !important;
          }
        }
      }
    }

    .prop {
      &-type {
        color: $color-info !important;
      }

      &-format {
        margin-left: 2px !important;
        color: $color-warning !important;
      }

      &-enum {
        display: flex;
        margin-top: 4px !important;
        padding-top: 8px;
        color: $color-info !important;

        button {
          margin-top: -10px;
          margin-left: 4px;
        }

        span {
          color: $color-warning !important;
        }
      }

      &erty {
        display: block;
        color: $color-yellow !important;

        &.primitive {
          color: $color-success !important;
        }
      }
    }

    .brace {
      &-open,
      &-close {
        padding: 0 !important;
        color: $color-grey-lighten2 !important;
      }
    }

    .star {
      margin-left: 4px !important;
      color: $color-secondary !important;
    }

    br {
      display: none;
    }
  }

  &-toggle {
    display: flex !important;
    position: static !important;
    top: 0 !important;
    margin: -9px 8px !important;
    align-items: center !important;
    justify-content: center !important;

    @extend %btn--icon;

    &:first-child {
      margin-left: 0 !important;
    }

    &:hover {
      background-color: $color-grey-darken4 !important;
    }

    &:after {
      background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" width="24" height="24"><path d="M10 6 8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>') !important;
    }
  }
}
