.scheme-container {
  .btn.authorize {
    margin: 0 !important;
    color: $color-white !important;
    background-color: $color-primary !important;

    > span {
      padding: 0 !important;
      margin-inline-end: 8px !important;
    }
  }

  .servers-title,
  .schemes-title {
    display: block !important;
    font-size: 14px !important;
  }

  label {
    margin: 0 !important;

    > select {
      margin-top: 4px !important;
    }
  }
}
