.opblock {
  &-section-header h4 {
    font-size: 18px !important;
  }

  .parameter {
    &__name {
      font-size: 14px !important;
      font-weight: 600 !important;

      &.required {
        &:after {
          content: unset !important;
        }
      }
    }

    &__type {
      font-size: 12px !important;
      font-weight: 400 !important;
      color: $color-grey-darken1 !important;

      > .prop-format {
        font-size: 10px !important;
        color: $color-grey-darken3 !important;
      }
    }

    &__in {
      font-size: 12px !important;
      font-weight: 400 !important;
      color: $color-grey-darken1 !important;
    }
  }

  .model-example {
    margin-top: 16px !important;
  }

  .headers {
    &-wrapper {
      margin-top: 16px !important;
    }

    &__title {
      margin: 0 !important;
      padding-top: 16px !important;
      font-size: 14px !important;
    }
  }

  table {
    &.parameters,
    &.responses-table {
      $gap: 12px;

      > thead > tr > .col_header,
      > tbody > tr > td {
        padding-left: $gap !important;
        padding-right: $gap !important;

        &:first-child {
          padding-left: 0 !important;
        }

        &:last-child {
          padding-right: 0 !important;
        }
      }

      thead .col_header {
        padding-top: $gap !important;
        padding-bottom: $gap !important;

        font-size: 12px !important;
      }

      > tbody > tr {
        > td {
          padding-top: $gap * 2 !important;
          padding-bottom: $gap * 2 !important;

          .markdown {
            > p {
              margin: 0 !important;
            }
          }
        }

        &:last-child {
          > td {
            padding-bottom: 0 !important;
          }
        }
      }
    }
  }

  .body-param {
    &-options {
      label {
        margin: 0 !important;

        select {
          margin-top: 4px !important;
        }

        > span {
          display: block !important;
        }
      }
    }

    .highlight-code + .body-param-options {
      margin-top: 16px !important;
    }

    &__example-edit {
      color: #fff !important;
      background-color: $color-primary !important;
    }
  }

  pre.microlight,
  textarea.body-param__text {
    padding: 16px !important;

    background-color: #272727 !important;
    border-radius: 16px !important;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
      0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12) !important;
  }

  textarea.body-param__text {
    margin: 0 !important;

    color: #fff;
    font-weight: 400 !important;
    border: none !important;
    line-height: normal !important;
  }

  .responses-inner {
    h4 {
      margin-top: 24px !important;
      margin-bottom: 4px !important;

      font-size: 14px !important;
    }
  }

  tr.response > td.response-col_description {
    h5 {
      margin: 16px 0 4px 0 !important;
    }

    > :first-child > h5 {
      margin-top: 0 !important;
    }
  }
}
