.opblock {
  .try-out__btn {
    margin: 0 !important;

    &:not(.cancel) {
      color: $color-white !important;
      background-color: $color-secondary !important;
    }
  }

  .btn-group {
    padding: 20px !important;
  }

  .execute {
    margin-inline-end: 8px !important;

    &-wrapper {
      text-align: start;
    }
  }

  .execute,
  .btn-clear {
    max-width: 144px;
    min-width: 144px;
    align-items: center !important;
    justify-content: center;
    text-align: center;
  }
}
