.opblock {
  .try-out__btn:not(.cancel) {
    color: #fff !important;
    background-color: $color-secondary !important;
  }

  .btn-group {
    padding: 20px !important;
  }

  .execute {
    margin-right: 8px !important;
    color: #fff !important;
    background-color: $color-primary !important;

    &-wrapper {
      text-align: start;
    }
  }

  .execute,
  .btn-clear {
    max-width: 144px;
    min-width: 144px;
    align-items: center !important;
    justify-content: center;
    text-align: center;
  }
}
