.opblock {
  .try-out__btn:not(.cancel) {
    color: #fff !important;
    background-color: $color-secondary !important;
  }

  .execute {
    width: unset !important;
    flex: 0 !important;

    color: #fff !important;
    background-color: $color-primary !important;

    &-wrapper {
      text-align: start;
    }
  }

  .btn-clear {
    margin-left: 8px !important;
    flex: 0 !important;
  }
}
