html {
  direction: rtl;
}

.swagger-ui {
  table {
    > thead {
      > tr {
        > th,
        > .col_header {
          text-align: right !important;
        }
      }
    }
  }

  select {
    background-position: left 10px center !important;
  }

  blockquote {
    border-right: 4px solid $color-primary;
    border-left: none !important;
  }

  .opblock {
    &-summary {
      &-description {
        direction: rtl;
        margin-right: 8px;
      }
    }
  }
}
