@use 'sass:map';

$uiTexts: (
  (
    selector: '.authorize span',
    text: 'تصدیق اصالت'
  ),
  (
    selector: '.auth-wrapper .dialog-ux .modal-ux-header h3',
    text: 'روش های تصدیق اصالت'
  ),
  (
    selector: '.auth-wrapper .dialog-ux .wrapper:nth-child(3) > p',
    text: 'نام:'
  ),
  (
    selector: '.auth-wrapper .dialog-ux .wrapper:nth-child(4) > p',
    text: 'محل ارسال:'
  ),
  (
    selector: '.auth-wrapper .dialog-ux .btn.authorize',
    text: 'ذخیره'
  ),
  (
    selector: '.auth-wrapper .dialog-ux .btn.auth:not(.authorize, .btn-done)',
    text: 'خروج'
  ),
  (
    selector: '.auth-wrapper .dialog-ux .btn-done',
    text: 'بستن'
  ),
  (
    selector: 'span.schemes-title',
    text: 'پروتکل'
  ),
  (
    selector: 'span.servers-title',
    text: 'سرور ها'
  ),
  (
    selector: 'h4.opblock-title',
    text: 'ورودی ها'
  ),
  (
    selector: 'th.parameters-col_name',
    text: 'نام'
  ),
  (
    selector: 'th.parameters-col_description',
    text: 'توضیحات'
  ),
  (
    selector: '.opblock-description-wrapper > p:first-child',
    text: 'بدون مقدار ورودی'
  ),
  (
    selector: '.responses-wrapper .opblock-section-header h4',
    text: 'پاسخ ها'
  ),
  (
    selector: 'td.col_header.response-col_status',
    text: 'وضعیت'
  ),
  (
    selector: 'tr td.col_header.response-col_description',
    text: 'توضیحات'
  ),
  (
    selector: 'tr td.col_header.response-col_links',
    text: 'پیوست'
  ),
  (
    selector: 'tr td.response-col_links',
    text: ''
  ),
  (
    selector: '.headers-wrapper > h4.headers__title',
    text: 'Header ها:'
  ),
  (
    selector: '.headers > thead > tr.header-row > th.header-col:first-child',
    text: 'نام'
  ),
  (
    selector: '.headers > thead > tr.header-row > th.header-col',
    text: 'توضیحات'
  ),
  (
    selector: '.headers > thead > tr.header-row > th.header-col:last-child',
    text: 'نوع'
  ),
  (
    selector: '.responses-wrapper label > span',
    text: 'قالب پاسخ'
  ),
  (
    selector: '.body-param-options label > span',
    text: 'قالب درخواست'
  ),
  (
    selector: '.model-example ul.tab li.tabitem button[data-name=example]',
    text: 'نمونه'
  ),
  (
    selector: '.model-example ul.tab li.tabitem button[data-name=model]',
    text: 'ساختار'
  ),
  (
    selector: 'button.btn.try-out__btn',
    text: 'ارسال درخواست'
  ),
  (
    selector: 'button.btn.try-out__btn.cancel',
    text: 'لغو'
  ),
  (
    selector: 'button.btn.execute.opblock-control__btn',
    text: 'ارسال درخواست'
  ),
  (
    selector: 'button.btn.btn-clear.opblock-control__btn',
    text: 'پاک کردن پاسخ'
  ),
  (
    selector: 'button.btn.body-param__example-edit.edit.button',
    text: 'ویرایش'
  ),
  (
    selector: 'button.btn.body-param__example-edit.cancel.button',
    text: 'ذخیره'
  ),
  (
    selector: '.request-url > h4',
    text: 'آدرس'
  ),
  (
    selector: '.responses-inner > div > div > h4:last-of-type',
    text: 'پاسخ سرور'
  ),
  (
    selector: '.responses-inner > div > h4:last-child',
    text: 'پاسخ ها'
  ),
  (
    selector: 'tr.response > td.response-col_description :first-child h5',
    text: 'Body'
  ),
  (
    selector: 'tr.response > td.response-col_description :nth-child(2) h5',
    text: 'Header ها'
  ),
  (
    selector: 'tr.response > td.response-col_description :last-child h5',
    text: 'مدت زمان'
  ),
  (
    selector: '.json-schema-array .json-schema-form-item-add',
    text: '+'
  )
);

@each $uiText in $uiTexts {
  #{map.get($uiText, selector)} {
    text-indent: -10000px;
    line-height: 0;
    user-select: none;

    &::after {
      content: map.get($uiText, text);
      display: block;
      text-indent: 0;
      line-height: initial;
    }
  }
}
