$color-primary: #26a69a;
$color-secondary: #ff2056;

$color-success: #13ce66;
$color-warning: #fbbc04;
$color-error: #ea4335;
$color-info: #1fb6ff;
$color-purple: #9c27b0;

$color-grey-lighten1: #bfc7d3;
$color-grey-lighten2: #c5c5c5;
$color-grey-lighten3: #eceff1;
$color-grey-lighten4: #f9f9f9;
$color-grey-darken1: #707070;
$color-grey-darken3: #5f6368;

$logo: 'https://assets.next.medcome.ir/img/logo.svg';
